@keyframes marche{
    from {
        background-image: url(./persoSVG/marche1.png);
    }
    25% {
        background-image: url(./persoSVG/marche2.png);
    }
    50% {
        background-image: url(./persoSVG/marche3.png);
    }
    75% {
        background-image: url(./persoSVG/marche4.png);
    }
    to {
        background-image: url(./persoSVG/marche1.png);
    }
}

@keyframes nuageMouvement {
    from{
        left: -20%;
    } 50% {

        top:17%;
    }
    to{
        left: 110%;
    }
}

.outdoor-container{
    display: none;
}

.outdoor-title{
    width: 82%;
    text-align: center;
    margin: 2% auto 0% auto;
    font-size: 3vw;
}


.tama-outdoor{
    width: 150px;
    height: 170px;
    background-image: url(persoSVG/marche1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 80%;
    position: absolute;
    bottom: 15%;
    right: 10%;
}

.outdoor{
    display : none;
}

.outdoor-body{
    background-size: 100% 100%;
    overflow: hidden;
}

.resizing-outdoor{
    background-size: 100% 130%;
}

.arrowIcon > img {
    width: 8%;
    position: absolute;
    top: 20px;
    left: 40px;
}

.nuages-container{
    display: flex;

}

.nuages-container>img{
    width: 15%;
}

.nuage1{
    position: absolute;
    top: 20%;
    left:-20%;
    animation: nuageMouvement 60s infinite ease-in;
    animation-delay: 2s;
}

.nuage2{
    position: absolute;
    top: 12%;
    left: 100%;
    animation: nuageMouvement 60s infinite linear;
    animation-direction:reverse;
}

.nuage3{
    position: absolute;
    top: 15%;
    left: -20%;
    animation: nuageMouvement 80s infinite ease-out;
    animation-delay: 10s;
}


@media only screen and (max-width:768px){
    .arrowIcon > img {
        width: 20%;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .outdoor-title{
        width: 82%;
        text-align: center;
        margin: 40% auto -51% auto;
        font-size: 6vw;
    }
}