@keyframes marche{
    from {
        background-image: url(./persoSVG/marche1.png);
    }
    25% {
        background-image: url(./persoSVG/marche2.png);
    }
    50% {
        background-image: url(./persoSVG/marche3.png);
    }
    75% {
        background-image: url(./persoSVG/marche4.png);
    }
    to {
        background-image: url(./persoSVG/marche1.png);
    }
}


.tama-outdoor{
    width: 150px;
    height: 170px;
    background-image: url(persoSVG/marche1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 80%;
    /* animation: marche infinite 1s; */
    position: relative;
    top: 146px;
    left: 599px;
}

.outdoor{
    display : none;
}

.outdoor-body{
    background-size: 100% 325%;
}

resizing-outdoor{
    background-size: 100% 130%;
}