@keyframes marche{
    from {
        background-image: url(./persoSVG/marche1.png);
    }
    25% {
        background-image: url(./persoSVG/marche2.png);
    }
    50% {
        background-image: url(./persoSVG/marche3.png);
    }
    75% {
        background-image: url(./persoSVG/marche4.png);
    }
    to {
        background-image: url(./persoSVG/marche1.png);
    }
}

.outdoor-container{
    display: none;
}

.outdoor-title{
    width: 82%;
    text-align: center;
    margin: 2% auto 0% auto;
    font-size: 3vw;
}


.tama-outdoor{
    width: 150px;
    height: 170px;
    background-image: url(persoSVG/marche1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 80%;
    position: relative;
    top: 440px;
    left: 700px;
}

.outdoor{
    display : none;
}

.outdoor-body{
    background-size: 100% 100%;
}

.resizing-outdoor{
    background-size: 100% 130%;
}

.arrowIcon > img {
    width: 8%;
    position: absolute;
    top: 20px;
    left: 40px;
}

@media only screen and (max-width:768px){
.tama-outdoor{
    top: 507px;
    left: 200px;
}  

.arrowIcon > img {
    width: 20%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.outdoor-title{
    width: 82%;
    text-align: center;
    margin: 40% auto -51% auto;
    font-size: 6vw;
}

}