@font-face {
    font-family: 'superLegendBoy';
    src: url(/SuperLegendBoy-4w8Y.ttf);
}
body,p,h1,h2 {
    font-family: 'superLegendBoy';
    font-size: 3vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(img/wp1902719.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    display: flex;
    flex-direction: column;
    background-color: #f9c1a000;
    border-radius: 39px;
    width: 80%;
    margin: 25% auto;
    box-shadow: 0Px 0px 20px 0px black;
}

.right-side-container{
    width: 30%;
}

.main-top-container{
    display: flex;
    flex-direction: row;
    height : 80%;
}

.playground{
    display: flex;
    flex-direction: column;
    width: 75%;
    height : 100%;
}

.name{
    text-align: center;
    padding: 5% 10%;
}

.tama-container{
display: flex;
justify-content: center;
margin: 3%;
}

.tama-img{
    width:45%;
}

.bottom-container{

    display: flex;
    justify-content: space-evenly;
}

.icons-container{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.icons-container>img{
    width: 40%;
}

.right-side-container{
    display: flex;
    flex-direction: column;
}

.progress-bar-container{
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.faim-bar-container, .joie-bar-container, .dodo-bar-container, .sortie-bar-container{
    width: 80%;
}

.progress-bar-container{
padding: 10% 0;

}

.faim-bar-title, .joie-bar-title, .dodo-bar-title, .sortie-bar-title{
    font-size: 2vw;
    text-align: center;
}


.progress-bar{
position: relative;
background-color: #F9C1A0;
border: 1px solid rgb(255, 254, 254);
box-shadow: 2px 2px 4px 0px #eeeeee;;
border-radius: 10px;
padding: 7% 0 7% 0;
overflow: hidden;
}

.progress-bar-title{
    position: absolute;
    top: 0px;
    left: 63px;
    font-size: 2vw;
}

.progress{
position: absolute;
top:0;
left:0;
height: 100%;
display: block;
/* transition: 1s linear; */
}

.arrows-icons-container{
display: flex;
height: 15%;
justify-content: center;

}

.arrows-icons-container>img{
    width: 26%;
    object-fit: cover;
}