@font-face {
    font-family: 'superLegendBoy';
    src: url(/SuperLegendBoy-4w8Y.ttf);
}
body,p,h1,h2 {
    font-family: 'superLegendBoy';
    font-size: 3vw;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

body{
    background-image: url(img/wp1902719.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.background {
    display: flex;
    flex-direction: column;
    background-color: #f9c1a000;
    border-radius: 39px;
    width: 80%;
    margin: 5% auto;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(3px);
}

.right-side-container{
    width: 30%;
}

.main-top-container{
    display: flex;
    flex-direction: row;
    height : 80%;
}

.playground{
    display: flex;
    flex-direction: column;
    width: 75%;
    height : 100%;
}

.name{
    text-align: center;
    padding: 5% 10%;
}

.tama-container{
display: flex;
justify-content: center;
margin: 3%;
}

.bottom-container{

    display: flex;
    justify-content: space-evenly;
}

.icons-container{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

.icons-container>img{
    width: 40%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 8% 16%;
    border: 1px solid rgba(255, 254, 254, 0.399);
    box-shadow: 1px 1px 2px 0px #eeeeee7d
}

.right-side-container{
    display: flex;
    flex-direction: column;
}

.progress-bar-container{
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.faim-bar-container, .joie-bar-container, .dodo-bar-container, .sortie-bar-container{
    width: 80%;
}

.progress-bar-container{
padding: 10% 0;

}

.faim-bar-title, .joie-bar-title, .dodo-bar-title, .sortie-bar-title{
    font-size: 2vw;
    text-align: center;
}


.progress-bar{
position: relative;
background-color: #e6e1f88a;
border: 1px solid rgba(255, 254, 254, 0.467);
box-shadow: 1px 1px 2px 0px #eeeeee;
border-radius: 10px;
padding: 7% 0 7% 0;
overflow: hidden;
}

.progress-bar-title{
    position: absolute;
    top: 0px;
    left: 63px;
    font-size: 2vw;
}

.progress{
position: absolute;
top:0;
left:0;
height: 100%;
display: block;
/* transition: 1s linear; */
}

/* .arrows-icons-container{
display: flex;
height: 15%;
justify-content: center;

}

.arrows-icons-container>img{
    width: 26%;
    object-fit: cover;
} */