@font-face {
    font-family: 'superLegendBoy';
    src: url(/SuperLegendBoy-4w8Y.ttf);
}
body,p,h1,h2 {
    font-family: 'superLegendBoy';
    font-size: 3vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

.background {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 252, 243, 1);
    border: 10px solid yellow;
    width: 80%;
    margin: auto;
}

.right-side-container{
    border: 5px solid black;
    width: 30%;
}

.main-top-container{
    display: flex;
    flex-direction: row;
    border: 5px solid red;
    height : 80%;
}

.playground{
    display: flex;
    flex-direction: column;
    width: 75%;
    height : 100%;
    border: 5px solid blue;
}

.name{
    text-align: center;
    padding: 5% 10%;
}

.tama-container{
display: flex;
justify-content: center;
margin: 3%;
}

.tama-img{
    width:45%;
}

.bottom-container{
    border: 5px solid green;
    display: flex;
    justify-content: space-evenly;
}

.icons-container{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.icons-container>img{
    width: 40%;
}

.right-side-container{
    display: flex;
    flex-direction: column;
}

.progress-bar-container{
border:5px solid salmon;
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}



.progress-bar{
position: relative;
border: 1px solid grey;
width: 80%;
padding: 5% 0 5% 0;
overflow: hidden;
}

.progress-bar-title{
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 2vw;
}

.progress{
position: absolute;
top:0;
left:0;
height: 100%;
display: block;
transition: 2s linear;
}

.arrows-icons-container{
display: flex;
height: 15%;
justify-content: center;
border: 5px solid darkolivegreen;
}

.arrows-icons-container>img{
    width: 26%;
    object-fit: cover;
}